body{

    background-image: url("https://i.ytimg.com/vi/XPjn2VexgMw/maxresdefault.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: "Josefin Sans", sans-serif;
    font-style: italic;
}
h1{
    color: #0f9d58;
}
button{
    cursor:pointer;
}
.current_page {

    background: gray;
    color:black;
}
.current_page a{
    color:black;
}
.my_button_add{
    font-family: 'Sedgwick Ave', cursive;
    font-size: 22px;
    background-color: aqua;
    font-weight: 700;
    border: 1px solid aqua;
    padding:10px;
    transition: all 1s ease;}
.my_button_edit{
    font-family: 'Sedgwick Ave', cursive;
    margin: 50px;
    padding: 20px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: all .5s ease;
}
.my_button_remove{
    background-color: bisque;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid black;
    transition: all .5s ease;
}
.my_button_edit:hover{
    padding:50px;
    background-color: #0d5b97;
    color:white;
    border-radius:20px;
    transition: all .5s ease;}
.my_button_remove:hover{
    background-color:aqua;
}
.my_button_add:hover{
    background-color:green;
}
.main-info{
    background-image: url("https://i.ytimg.com/vi/XPjn2VexgMw/maxresdefault.jpg");
}
.flexboxes{
    background: #0d5b97;
    width: 100%;
    height: 400px;

}
header{
    width:100%;
}
.m_left img {
    width: 70px;
    height: 70px;
}
.m_left{
    display: flex;
    flex-direction: row;


}
.m_right{
    width:90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}
.one-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    border:2px solid white;
}
.menu{
    display: flex;
    flex-direction: row;
}
footer{
    display: flex;
    justify-content: space-around;
    width:100%;
    height:210px;
    background-color: #0f9d58;
}
.f_right{
    width:150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border:2px solid white;

}
.f_right img{
    width: 50px;
    height: 50px;
}
.f_left{
    display: flex;
    flex-direction: column;
    border:2px solid white;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    background: rgba(255, 255, 255, 0.5);

    text-align: center;
    transition: all 0.3s ease-out;
    text-decoration: none;
    border-radius: 8px;
}